  <div class="pokemon-card">

    <div class="pokemon-card-image">

      <img
      [src]="pokemon.image" class="pokemon-card-img" alt="Pokemon Image">

    </div>

      <div class="pokemon-info">
        <div class="number">Nº {{pokemon.number}}</div>
        <div class="name">{{pokemon.name}}</div>

        <div class="pokemon-types">
          <div class="type" *ngFor="let type of pokemon.types"
          [class]=" 'pokemon type ' + type.toLowerCase()" >
            {{ type }}</div>

        </div>
      </div>
  </div>



