<div class="pokemon-card-container">
  <div class="pokemon-card" style="width: 18rem;">
    <div class="pokemon-card-image">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" class="pokemon-card-img" alt="Pokemon Image">

      <div class="pokemon-card-body">
        <h5 class="pokemon-name">Bulbasaur</h5>
        <p class="pokemon-number">Nº 001</p>
      </div>

      <div class="pokemon-card-types">
        <div class="pokemon-type">Grass</div>
        <div class="pokemon-type">Poison</div>
      </div>
    </div>
  </div>
</div>
